/*
Menu related selectors
*/
.jsdomenudiv {
	background-color: #FFFFFF;
	background-image: url(../img/office_xp_menu_left.gif);
	background-repeat: repeat-y;
	border: 1px solid #8A867A;
	cursor: default;
	padding-bottom: 1px;
	padding-top: 1px;
	position: absolute; /* Do not alter this line! */
	visibility: hidden;
	z-index: 10;
}

.jsdomenuitem {
	background: transparent;
	border: none;
	color: #333333;
	font-family: Verdana, Helvetica, sans, Arial, sans-serif;
	font-size: 12px;
	padding-bottom: 3px;
	padding-left: 30px;
	padding-right: 15px;
	padding-top: 3px;
	position: relative; /* Do not alter this line! */
}

.jsdomenuitemover {
	background-color: #CFE1EF;
	border: 1px solid #728DA9;
	color: #000099;
	font-family: Verdana, Helvetica, sans, Arial, sans-serif;
	font-size: 12px;
	margin-left: 1px;
	margin-right: 1px;
	padding-bottom: 2px;
	padding-left: 28px;
	padding-right: 15px;
	padding-top: 2px;
	position: relative; /* Do not alter this line! */
}

.jsdomenuarrow {
/*	background-image: url(../img/office_xp_arrow.gif); */
	background-repeat: no-repeat; /* Do not alter this line! */
	height: 7px;
	position: absolute; /* Do not alter this line! */
	right: 8px;
	width: 4px;
}

.jsdomenuarrowover {
/*	background-image: url(../img/office_xp_arrow_o.gif); */
	background-repeat: no-repeat; /* Do not alter this line! */
	height: 7px;
	position: absolute; /* Do not alter this line! */
	right: 8px;
	width: 4px;
}

.jsdomenusep {
	padding-left: 28px;
}

.jsdomenusep hr {
}

/*
Menu bar related selectors
*/
.jsdomenubardiv {
	background-color: #F3FFF2;
	background-image: url(../img/office_xp_divider.gif);
	background-position: left;
	background-repeat: no-repeat;
	border: 1px outset;
	cursor: default;
	padding-bottom: 3px;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 3px;
	position: absolute; /* Do not alter this line! */
	visibility: visible;
}

.jsdomenubardragdiv {
	cursor: move;
	display: inline;
	font-family: Verdana, Helvetica, sans, Arial, sans-serif;
	font-size: 12px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	position: relative; /* Do not alter this line! */
	visibility: hidden;
	width: 9px;
}

.jsdomenubaritem {
	background-color: #F3FFF2;
	border: none;
	color: #000000;
	display: inline;
	font-family: Verdana, Helvetica, sans, Arial, sans-serif;
	font-size: 12px;
	padding-bottom: 2px;
	padding-left: 24px;
	padding-right: 10px;
	padding-top: 2px;
	position: relative; /* Do not alter this line! */
}

.jsdomenubaritemover {
	background-color: #C1D2EE;
	border: 1px solid #728DA9;
	color: #000000;
	display: inline;
	font-family: Verdana, Helvetica, sans, Arial, sans-serif;
	font-size: 12px;
	padding-bottom: 2px;
	padding-left: 23px;
	padding-right: 9px;
	padding-top: 2px;
	position: relative; /* Do not alter this line! */
}

.jsdomenubaritemclick {
	background-color: #EFEDDE;
	border: 1px solid #8A867A;
	color: #000000;
	display: inline;
	font-family: Verdana, Helvetica, sans, Arial, sans-serif;
	font-size: 12px;
	padding-bottom: 2px;
	padding-left: 23px;
	padding-right: 9px;
	padding-top: 2px;
	position: relative; /* Do not alter this line! */
}

/*
Example of selectors for icons. Change the height and width to match the actual 
height and width of the icon image.
*/
.icon1 {
	background-image: url(../img/icon1.png);
	background-repeat: no-repeat; /* Do not alter this line! */
	height: 16px;
	left: 4px;
	position: absolute; /* Do not alter this line! */
	width: 16px;
}

.icon2 {
	background-image: url(../img/icon2.png);
	background-repeat: no-repeat; /* Do not alter this line! */
	height: 16px;
	left: 4px;
	position: absolute; /* Do not alter this line! */
	width: 16px;
}

.icon3 {
	background-image: url(../img/icon3.png);
	background-repeat: no-repeat; /* Do not alter this line! */
	height: 16px;
	left: 4px;
	position: absolute; /* Do not alter this line! */
	width: 16px;
}



.jsdomenuitem_title {
	background-color: #90ABBA;
	border: 1px solid #728DA9;
	color: #000000;
	font-family: Verdana, Helvetica, sans, Arial, sans-serif;
	font-size: 12px;
	margin-left: 1px;
	margin-right: 1px;
	padding-bottom: 2px;
	padding-left: 28px;
	padding-right: 15px;
	padding-top: 2px;
	position: relative; /* Do not alter this line! */
}

.jsdomenuitemover_title {
	
	background-color: #90ABBA;
	border: 1px solid #728DA9;
	color: #000000;
	font-family: Verdana, Helvetica, sans, Arial, sans-serif;
	font-size: 12px;
	margin-left: 1px;
	margin-right: 1px;
	padding-bottom: 2px;
	padding-left: 28px;
	padding-right: 15px;
	padding-top: 2px;
	position: relative; /* Do not alter this line! */
}


.icon_ready
{
/*	background-image: url(../img/17_user_headset.gif); */
	background-repeat: no-repeat; /* Do not alter this line! */
	height: 17px;
	left: 4px;
	position: absolute; /* Do not alter this line! */
	width: 17px;
}
.icon_not_ready
{
/*	background-image: url(../img/telephone.gif); */
	background-repeat: no-repeat; /* Do not alter this line! */
	height: 16px;
	left: 4px;
	position: absolute; /* Do not alter this line! */
	width: 16px;
}
.icon_logout {
	
/*	background-image: url(../img/17_exit.gif);  */
	background-repeat: no-repeat; /* Do not alter this line! */
	height: 17px;
	left: 4px;
	position: absolute; /* Do not alter this line! */
	width: 17px;
}

.icon_cpu {
/*	background-image: url(../img/cpu_17.gif);  */
	background-repeat: no-repeat; /* Do not alter this line! */
	position: absolute; /* Do not alter this line! */
	height: 17px;
	left: 4px;	
	width: 17px;	
}

.icon_pbx_exec {
/*	background-image: url(../img/pbx_server_17.gif);  */
	background-repeat: no-repeat; /* Do not alter this line! */
	position: absolute; /* Do not alter this line! */	
	height: 17px;
	left: 4px;	
	width: 17px;	
}

.icon_props
{
/*	background-image: url(../img/17_integration.gif);  */
	background-repeat: no-repeat; /* Do not alter this line! */
	height: 17px;
	left: 4px;
	position: absolute; /* Do not alter this line! */
	width: 17px;
}

.icon_arrow
{
/*	background-image: url(../img/movenext.gif);  */
	background-repeat: no-repeat; /* Do not alter this line! */
	height: 17px;
	left: 4px;
	position: absolute; /* Do not alter this line! */
	width: 17px;
}

.icon_start
{
/*	background-image: url(../img/on.gif); */
	background-repeat: no-repeat; /* Do not alter this line! */
	height: 17px;
	left: 4px;
	position: absolute; /* Do not alter this line! */
	width: 17px;
}

.icon_stop
{
/*	background-image: url(../img/stop_17.gif); */
	background-repeat: no-repeat; /* Do not alter this line! */
	height: 17px;
	left: 4px;
	position: absolute; /* Do not alter this line! */
	width: 17px;
}

.icon_load
{
/*	background-image: url(../img/load_17.gif); */
	background-repeat: no-repeat; /* Do not alter this line! */
	height: 17px;
	left: 4px;
	position: absolute; /* Do not alter this line! */
	width: 17px;
}

.icon_unload
{
/*	background-image: url(../img/unload_17.gif); */
	background-repeat: no-repeat; /* Do not alter this line! */
	height: 17px;
	left: 4px;
	position: absolute; /* Do not alter this line! */
	width: 17px;
}

.icon_change_status
{
/*	background-image: url(../img/change_status.gif); */
	background-repeat: no-repeat; /* Do not alter this line! */
	height: 17px;
	left: 4px;
	position: absolute; /* Do not alter this line! */
	width: 17px;
}

.icon_informations
{
/*	background-image: url(../img/information2.gif); */
	background-repeat: no-repeat; /* Do not alter this line! */
	height: 17px;
	left: 4px;
	position: absolute; /* Do not alter this line! */
	width: 17px;
}

.icon_monitoring
{
/*	background-image: url(../img/monitor.gif); */
	background-repeat: no-repeat; /* Do not alter this line! */
	height: 17px;
	left: 4px;
	position: absolute; /* Do not alter this line! */
	width: 17px;
}

.icon_ip
{
/*	background-image: url(../img/change_ip.gif); */
	background-repeat: no-repeat; /* Do not alter this line! */
	height: 17px;
	left: 4px;
	position: absolute; /* Do not alter this line! */
	width: 17px;
}

.icon_host
{
/*	background-image: url(../img/host.gif); */
	background-repeat: no-repeat; /* Do not alter this line! */
	height: 17px;
	left: 4px;
	position: absolute; /* Do not alter this line! */
	width: 17px;
}

.icon_switch
{
/*	background-image: url(../img/switch.gif); */
	background-repeat: no-repeat; /* Do not alter this line! */
	height: 17px;
	left: 4px;
	position: absolute; /* Do not alter this line! */
	width: 17px;
}

.icon_aheevaphone
{
/*	background-image: url(../img/aheeva_phone.gif); */
	background-repeat: no-repeat; /* Do not alter this line! */
	height: 17px;
	left: 4px;
	position: absolute; /* Do not alter this line! */
	width: 17px;
}

.icon_listen_live
{
/*	background-image: url(../img/listen_live.gif); */
	background-repeat: no-repeat; /* Do not alter this line! */
	height: 17px;
	left: 4px;
	position: absolute; /* Do not alter this line! */
	width: 17px;
}

